<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Oxygen font family">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="stylesheets/stylesheet.css" rel="stylesheet" media="screen">

    <title>Kernagic Tests</title>
  </head>
  <body style="background:#ddd;>

      <div class="container">
      <div class="row">
<div class="col-md-10 col-md-offset-1">

<div class="row" style="background:#333; color:#fff; margin-top:21px;">
    <div class="col-md-12">
        
        
        <!-- START TEXT -->

        <h3>Testing Kernagic</h3>
        <h5>Automated spacing of digital fonts</h5>
        <h5><a href="https://github.com/hodefoting/kernagic">https://github.com/hodefoting/kernagic</a></h5>
        </div></div>
        
        <!-- END HEADER -->
        
        <div class="row" style="background:#fff;">
        <div class="col-md-10">
<p class="topMargin">Kernagic is software under development to automate the metrics spacing of digital fonts.</p>
<p>(below) opening UFO file in Kernagic.</p>

<iframe width="960" height="720" src="http://www.youtube.com/embed/swMIaFlXA8Q?rel=0;vq=760;controls=0;showinfo=0;modestbranding=1" frameborder="0" allowfullscreen></iframe>
<p class="topMargin">(below) First, a 'good' sense of spacing and rhythm is achieved by adjusting the 'Gap Size' and 'Divisor' parameters.</p>
<p>The 'Gap Size' adjusts the general size of spacing between glyphs.</p>
<p>The 'Divisor' parameter adjusts the segment size of the underlying background grid.</p>

<iframe width="960" height="720" src="http://youtu.be/yaRPb3KnCws?rel=0;vq=760;controls=0;showinfo=0;modestbranding=1" frameborder="0" allowfullscreen></iframe>
<p class="topMargin">(below) Overall spacing can be better adjusted with the 'Gap Size' parameter.</p>

<iframe width="960" height="720" src="http://youtu.be/Nep5maf32bk?rel=0;vq=760;controls=0;showinfo=0;modestbranding=1" frameborder="0" allowfullscreen></iframe>

<p class="topMargin">(below) Compensation is made for the optical effects of Uppercase characters, by adjusting the 'Tall Glyph Gap Spacing' to adjust the side bearing of the uppercase characters independent of the lowercase. </p>

<iframe width="960" height="720" src="http://www.youtube.com/embed/6ErlDQOI0HQ?rel=0;vq=760;controls=0;showinfo=0;modestbranding=1" frameborder="0" allowfullscreen></iframe>

<p class="topMargin">(below) Further micro-adjustment can be made by adjusting the cadence parameter. </p>

<iframe width="960" height="720" src="http://www.youtube.com/embed/8jQyZZcGH88?rel=0;vq=760;controls=0;showinfo=0;modestbranding=1" frameborder="0" allowfullscreen></iframe>
<p class="topMargin">(below) Custom stem positions can be added for those glyphs that need them. </p>

<iframe width="960" height="720" src="http://www.youtube.com/embed/m1MYmuEigwM?rel=0;vq=760;controls=0;showinfo=0;modestbranding=1" frameborder="0" allowfullscreen></iframe>

        </div>
        
        
        <!-- END TEXT -->
    </div>


</div>
    </div>
      </div>
      <script src="http://code.jquery.com/jquery.js"></script>
      <script src="assets/bootstrap/js/bootstrap.min.js"></script>
      
  </body>
</html>
