<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@KERN_LEFT_A</key>
	<array>
		<string>A</string>
		<string>Aring</string>
		<string>Adieresis</string>
		<string>Aacute</string>
		<string>Amacron</string>
		<string>Agrave</string>
		<string>Atilde</string>
		<string>Acircumflex</string>
		<string>Aogonek</string>
		<string>Abreve</string>
	</array>
	<key>@KERN_LEFT_C</key>
	<array>
		<string>Ccedilla</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccircumflex</string>
	</array>
	<key>@KERN_LEFT_D</key>
	<array>
		<string>Oslash</string>
		<string>Omacron</string>
		<string>D</string>
		<string>Odieresis</string>
		<string>Ohungarumlaut</string>
		<string>Ograve</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>uniF540</string>
		<string>Q</string>
		<string>O</string>
		<string>Dcroat</string>
		<string>Eth</string>
		<string>Oacute</string>
	</array>
	<key>@KERN_LEFT_K</key>
	<array>
		<string>X</string>
		<string>Kcommaaccent</string>
		<string>K</string>
		<string>uni1E30</string>
	</array>
	<key>@KERN_LEFT_L</key>
	<array>
		<string>Lslash</string>
		<string>Lcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
	</array>
	<key>@KERN_LEFT_P</key>
	<array>
		<string>P</string>
		<string>Thorn</string>
		<string>uni1E54</string>
	</array>
	<key>@KERN_LEFT_R</key>
	<array>
		<string>Racute</string>
		<string>Rcommaaccent</string>
		<string>R</string>
		<string>Rcaron</string>
	</array>
	<key>@KERN_LEFT_T</key>
	<array>
		<string>uniF546</string>
		<string>Tcommaaccent</string>
		<string>T</string>
		<string>Tcaron</string>
	</array>
	<key>@KERN_LEFT_V</key>
	<array>
		<string>uniF548</string>
		<string>V</string>
	</array>
	<key>@KERN_LEFT_Y</key>
	<array>
		<string>Y</string>
		<string>Ydieresis</string>
		<string>Yacute</string>
	</array>
	<key>@KERN_LEFT_Z</key>
	<array>
		<string>Zacute</string>
		<string>Z</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@KERN_LEFT_afii10017</key>
	<array>
		<string>uni04D0</string>
		<string>uniF50E</string>
		<string>afii10017</string>
		<string>uni04D2</string>
	</array>
	<key>@KERN_LEFT_afii10020</key>
	<array>
		<string>uni04A4</string>
		<string>afii10052</string>
		<string>uni04F6</string>
		<string>afii10050</string>
		<string>uni0492</string>
		<string>afii10020</string>
	</array>
	<key>@KERN_LEFT_afii10021</key>
	<array>
		<string>uni04C9</string>
		<string>afii10043</string>
		<string>uni04C5</string>
		<string>uni0524</string>
		<string>uni048A</string>
		<string>afii10021</string>
		<string>uni04B6</string>
		<string>uni04CD</string>
		<string>afii10040</string>
	</array>
	<key>@KERN_LEFT_afii10024</key>
	<array>
		<string>uni04FC</string>
		<string>afii10028</string>
		<string>uni0496</string>
		<string>afii10039</string>
		<string>afii10024</string>
		<string>uni04B2</string>
		<string>uni04DC</string>
		<string>uni04C3</string>
		<string>uni04A0</string>
		<string>afii10061</string>
		<string>uni049E</string>
		<string>uni049C</string>
		<string>uni049A</string>
	</array>
	<key>@KERN_LEFT_afii10032</key>
	<array>
		<string>uniF51E</string>
		<string>uniF51A</string>
		<string>uniF51C</string>
		<string>uniF522</string>
		<string>uniF524</string>
		<string>afii10047</string>
		<string>uniF534</string>
		<string>uniF4D6</string>
		<string>uni04E8</string>
		<string>uni04D8</string>
		<string>afii10147</string>
		<string>uni04E6</string>
		<string>uni04A8</string>
		<string>afii10032</string>
		<string>afii10038</string>
		<string>uni04EC</string>
		<string>uni04EA</string>
		<string>uni04DA</string>
		<string>afii10048</string>
		<string>uniF518</string>
		<string>uniF52C</string>
		<string>uniF52E</string>
	</array>
	<key>@KERN_LEFT_afii10034</key>
	<array>
		<string>afii10034</string>
		<string>uni048E</string>
	</array>
	<key>@KERN_LEFT_afii10035</key>
	<array>
		<string>uni04AA.alt</string>
		<string>afii10035</string>
		<string>uni04AA</string>
	</array>
	<key>@KERN_LEFT_afii10036</key>
	<array>
		<string>uni04AC</string>
		<string>afii10036</string>
	</array>
	<key>@KERN_LEFT_afii10037</key>
	<array>
		<string>uni04AE</string>
		<string>afii10037</string>
		<string>uni04B0</string>
		<string>uni051C</string>
		<string>uni04F2</string>
		<string>uni04F0</string>
		<string>afii10148</string>
		<string>uniF4CC</string>
		<string>afii10062</string>
		<string>uni04EE</string>
	</array>
	<key>@KERN_LEFT_afii10044</key>
	<array>
		<string>afii10044</string>
		<string>uni048C</string>
		<string>afii10046</string>
		<string>uni04BA</string>
		<string>afii10146</string>
		<string>afii10058</string>
		<string>afii10059</string>
	</array>
	<key>@KERN_LEFT_afii10066</key>
	<array>
		<string>uniF51D</string>
		<string>uniF523</string>
		<string>uniF51F</string>
		<string>uniF51B</string>
		<string>afii10095</string>
		<string>uniF525</string>
		<string>uniF535</string>
		<string>uniF4D7</string>
		<string>afii10080</string>
		<string>afii10195</string>
		<string>uni04E9</string>
		<string>afii10096</string>
		<string>afii10086</string>
		<string>uni04E7</string>
		<string>uni048F</string>
		<string>uni04A9</string>
		<string>uni04EB</string>
		<string>uniF519</string>
		<string>afii10066</string>
		<string>uni04DB</string>
		<string>afii10082</string>
		<string>afii10846</string>
		<string>uniF52D</string>
		<string>uniF52F</string>
	</array>
	<key>@KERN_LEFT_afii10068</key>
	<array>
		<string>afii10100</string>
		<string>uni04AD</string>
		<string>uni0493</string>
		<string>uni04A5</string>
		<string>uni04F7</string>
		<string>afii10084</string>
		<string>afii10098</string>
		<string>afii10068</string>
	</array>
	<key>@KERN_LEFT_afii10070</key>
	<array>
		<string>uniF527</string>
		<string>uniF515</string>
		<string>uniF511</string>
		<string>uniF513</string>
		<string>uni04D5</string>
		<string>uni04BF</string>
		<string>uni04BD</string>
		<string>afii10070</string>
		<string>afii10071</string>
	</array>
	<key>@KERN_LEFT_afii10072</key>
	<array>
		<string>uni04FD</string>
		<string>uni04C4</string>
		<string>uni0497</string>
		<string>uni04A1</string>
		<string>uni04B3</string>
		<string>afii10109</string>
		<string>afii10087</string>
		<string>uni04DD</string>
		<string>uni049F</string>
		<string>afii10076</string>
		<string>uni049B</string>
		<string>uni049D</string>
		<string>afii10072</string>
	</array>
	<key>@KERN_LEFT_afii10083</key>
	<array>
		<string>afii10083</string>
		<string>uni04AB</string>
		<string>uni04AB.alt</string>
	</array>
	<key>@KERN_LEFT_afii10085</key>
	<array>
		<string>uni04AF</string>
		<string>uni04EF</string>
		<string>afii10110</string>
		<string>uni04F3</string>
		<string>afii10196</string>
		<string>uni04F1</string>
		<string>afii10085</string>
		<string>uniF4CD</string>
		<string>uni051D</string>
	</array>
	<key>@KERN_LEFT_afii10092</key>
	<array>
		<string>afii10092</string>
		<string>afii10194</string>
		<string>uni048D</string>
		<string>afii10106</string>
		<string>afii10107</string>
		<string>afii10094</string>
	</array>
	<key>@KERN_LEFT_b</key>
	<array>
		<string>oslash</string>
		<string>b</string>
		<string>uniF487</string>
		<string>uni1E55</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>o</string>
		<string>p</string>
		<string>thorn</string>
		<string>oacute</string>
	</array>
	<key>@KERN_LEFT_braceleft</key>
	<array>
		<string>bracketleft</string>
		<string>parenleft</string>
		<string>braceleft</string>
	</array>
	<key>@KERN_LEFT_c</key>
	<array>
		<string>ccedilla</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccircumflex</string>
	</array>
	<key>@KERN_LEFT_comma</key>
	<array>
		<string>ellipsis</string>
		<string>comma</string>
		<string>period</string>
	</array>
	<key>@KERN_LEFT_e</key>
	<array>
		<string>ecaron</string>
		<string>egrave</string>
		<string>eogonek</string>
		<string>ecircumflex</string>
		<string>oe</string>
		<string>edieresis</string>
		<string>emacron</string>
		<string>eacute</string>
		<string>e</string>
		<string>edotaccent</string>
	</array>
	<key>@KERN_LEFT_emdash</key>
	<array>
		<string>uni2011</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>uni00AD</string>
	</array>
	<key>@KERN_LEFT_k</key>
	<array>
		<string>x</string>
		<string>kcommaaccent</string>
		<string>k</string>
		<string>uni1E31</string>
	</array>
	<key>@KERN_LEFT_quotedbl</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
		<string>quotedbl</string>
		<string>quotedblleft</string>
		<string>quotesingle</string>
		<string>quoteleft</string>
	</array>
	<key>@KERN_LEFT_quotedblbase</key>
	<array>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@KERN_LEFT_r</key>
	<array>
		<string>racute</string>
		<string>rcommaaccent</string>
		<string>r</string>
		<string>rcaron</string>
	</array>
	<key>@KERN_LEFT_space</key>
	<array>
		<string>uni00A0</string>
		<string>space</string>
	</array>
	<key>@KERN_LEFT_t</key>
	<array>
		<string>tcommaaccent</string>
		<string>t</string>
		<string>tcaron</string>
	</array>
	<key>@KERN_LEFT_uni04BC</key>
	<array>
		<string>uni04BE</string>
		<string>uni04BC</string>
	</array>
	<key>@KERN_LEFT_uniF549</key>
	<array>
		<string>y</string>
		<string>v</string>
		<string>ydieresis</string>
		<string>yacute</string>
		<string>uniF549</string>
	</array>
	<key>@KERN_LEFT_z</key>
	<array>
		<string>zacute</string>
		<string>z</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@KERN_RIGHT_A</key>
	<array>
		<string>A</string>
		<string>Aring</string>
		<string>Adieresis</string>
		<string>Aacute</string>
		<string>Amacron</string>
		<string>Agrave</string>
		<string>Atilde</string>
		<string>Acircumflex</string>
		<string>Aogonek</string>
		<string>Abreve</string>
	</array>
	<key>@KERN_RIGHT_C</key>
	<array>
		<string>Oslash</string>
		<string>C</string>
		<string>G</string>
		<string>Otilde</string>
		<string>Ccaron</string>
		<string>Q</string>
		<string>Gcircumflex</string>
		<string>O</string>
		<string>Gcommaaccent</string>
		<string>Oacute</string>
		<string>Gbreve</string>
		<string>Odieresis</string>
		<string>uni01F4</string>
		<string>Ohungarumlaut</string>
		<string>Ograve</string>
		<string>Ocircumflex</string>
		<string>Cacute</string>
		<string>Ccircumflex</string>
		<string>Ccedilla</string>
		<string>Omacron</string>
		<string>OE</string>
	</array>
	<key>@KERN_RIGHT_T</key>
	<array>
		<string>uniF546</string>
		<string>Tcommaaccent</string>
		<string>T</string>
		<string>Tcaron</string>
	</array>
	<key>@KERN_RIGHT_V</key>
	<array>
		<string>uniF548</string>
		<string>V</string>
	</array>
	<key>@KERN_RIGHT_Y</key>
	<array>
		<string>Y</string>
		<string>Ydieresis</string>
		<string>Yacute</string>
	</array>
	<key>@KERN_RIGHT_Z</key>
	<array>
		<string>Zacute</string>
		<string>Z</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@KERN_RIGHT__empty_lu.2_st.2_cl.0</key>
	<array>
	</array>
	<key>@KERN_RIGHT_a</key>
	<array>
		<string>a</string>
		<string>ae</string>
		<string>rcommaaccent</string>
		<string>scommaaccent</string>
		<string>scedilla</string>
		<string>m</string>
		<string>n</string>
		<string>p</string>
		<string>s</string>
		<string>r</string>
		<string>u</string>
		<string>ncommaaccent</string>
		<string>uogonek</string>
		<string>aogonek</string>
	</array>
	<key>@KERN_RIGHT_aacute</key>
	<array>
		<string>udieresis</string>
		<string>uhungarumlaut</string>
		<string>aring</string>
		<string>nacute</string>
		<string>iacute</string>
		<string>scircumflex</string>
		<string>uacute</string>
		<string>umacron</string>
		<string>rcaron</string>
		<string>uring</string>
		<string>aacute</string>
		<string>icircumflex</string>
		<string>ugrave</string>
		<string>igrave</string>
		<string>agrave</string>
		<string>jcircumflex</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>abreve</string>
		<string>racute</string>
		<string>ubreve</string>
		<string>imacron</string>
		<string>amacron</string>
		<string>ntilde</string>
		<string>ucircumflex</string>
		<string>atilde</string>
		<string>ncaron</string>
		<string>sacute</string>
		<string>idieresis</string>
	</array>
	<key>@KERN_RIGHT_afii10017</key>
	<array>
		<string>uni04D0</string>
		<string>uniF50E</string>
		<string>afii10017</string>
		<string>uni04D2</string>
	</array>
	<key>@KERN_RIGHT_afii10021</key>
	<array>
		<string>uni04C5</string>
		<string>afii10021</string>
		<string>afii10058</string>
		<string>afii10029</string>
		<string>uni0512</string>
	</array>
	<key>@KERN_RIGHT_afii10024</key>
	<array>
		<string>uni04FC</string>
		<string>uni0496</string>
		<string>afii10039</string>
		<string>afii10024</string>
		<string>uni04B2</string>
		<string>uni04DC</string>
	</array>
	<key>@KERN_RIGHT_afii10032</key>
	<array>
		<string>uniF51E</string>
		<string>uniF51A</string>
		<string>uniF51C</string>
		<string>uniF526</string>
		<string>uniF534</string>
		<string>uni04E8</string>
		<string>uni04AA.alt</string>
		<string>afii10147</string>
		<string>uni04E6</string>
		<string>uni04A8</string>
		<string>afii10053</string>
		<string>afii10032</string>
		<string>uni04AA.alt02</string>
		<string>afii10035</string>
		<string>uni04AA</string>
		<string>afii10038</string>
		<string>uni04EA</string>
		<string>uniF518</string>
	</array>
	<key>@KERN_RIGHT_afii10036</key>
	<array>
		<string>uni04B4</string>
		<string>afii10060</string>
		<string>uni04AC</string>
		<string>afii10036</string>
		<string>afii10051</string>
	</array>
	<key>@KERN_RIGHT_afii10037</key>
	<array>
		<string>uni04AE</string>
		<string>afii10037</string>
		<string>uni04B0</string>
		<string>uni051C</string>
		<string>uni04F2</string>
		<string>uni04F0</string>
		<string>afii10148</string>
		<string>uniF4CC</string>
		<string>afii10062</string>
		<string>uni04EE</string>
	</array>
	<key>@KERN_RIGHT_afii10041</key>
	<array>
		<string>uniF4C6</string>
		<string>uni04B8</string>
		<string>uni04B6</string>
		<string>uni04F4</string>
		<string>afii10041</string>
		<string>uni04CB</string>
	</array>
	<key>@KERN_RIGHT_afii10044</key>
	<array>
		<string>afii10044</string>
		<string>afii10146</string>
		<string>uni048C</string>
		<string>uni04A0</string>
	</array>
	<key>@KERN_RIGHT_afii10047</key>
	<array>
		<string>uni04EC</string>
		<string>afii10047</string>
	</array>
	<key>@KERN_RIGHT_afii10065</key>
	<array>
		<string>afii10088</string>
		<string>uni0495</string>
		<string>uni0525</string>
		<string>uni04A7</string>
		<string>afii10090</string>
		<string>afii10091</string>
		<string>afii10078</string>
		<string>uni04A3</string>
		<string>afii10094</string>
		<string>afii10095</string>
		<string>afii10074</string>
		<string>uni049D</string>
		<string>uni049B</string>
		<string>afii10076</string>
		<string>afii10073</string>
		<string>uni04C8</string>
		<string>uni04C4</string>
		<string>afii10093</string>
		<string>afii10096</string>
		<string>afii10098</string>
		<string>afii10081</string>
		<string>afii10068</string>
		<string>uni04F7</string>
		<string>uni048F</string>
		<string>uni04D5</string>
		<string>uni04CE</string>
		<string>afii10067</string>
		<string>uni04CA</string>
		<string>afii10065</string>
		<string>afii10102</string>
		<string>afii10107</string>
		<string>uni04A5</string>
		<string>uni0499</string>
		<string>afii10082</string>
		<string>afii10193</string>
		<string>afii10846</string>
		<string>afii10079</string>
	</array>
	<key>@KERN_RIGHT_afii10069</key>
	<array>
		<string>uni0513</string>
		<string>uni04C6</string>
		<string>afii10077</string>
		<string>afii10069</string>
		<string>afii10106</string>
	</array>
	<key>@KERN_RIGHT_afii10070</key>
	<array>
		<string>uniF51D</string>
		<string>uniF51F</string>
		<string>uniF51B</string>
		<string>uniF535</string>
		<string>uniF527</string>
		<string>afii10080</string>
		<string>afii10195</string>
		<string>uni04E9</string>
		<string>afii10086</string>
		<string>uni04D7</string>
		<string>uni04AB.alt</string>
		<string>afii10070</string>
		<string>uni04E7</string>
		<string>uni04A9</string>
		<string>afii10101</string>
		<string>uni04AB</string>
		<string>uni04EB</string>
		<string>uni04AB.alt02</string>
		<string>afii10083</string>
		<string>afii10071</string>
		<string>uniF515</string>
		<string>uniF511</string>
		<string>uniF513</string>
		<string>uniF519</string>
	</array>
	<key>@KERN_RIGHT_afii10072</key>
	<array>
		<string>uni04DD</string>
		<string>afii10087</string>
		<string>uni04FD</string>
		<string>uni0497</string>
		<string>uni04B3</string>
		<string>afii10072</string>
	</array>
	<key>@KERN_RIGHT_afii10075</key>
	<array>
		<string>uniF529</string>
		<string>uniF50F</string>
		<string>uniF533</string>
		<string>uni048B</string>
		<string>afii10075</string>
		<string>uni04E3</string>
		<string>uni04F9</string>
		<string>uni04D1</string>
		<string>uni04D3</string>
		<string>uni04E5</string>
		<string>afii10100</string>
		<string>afii10103</string>
		<string>afii10104</string>
		<string>afii10105</string>
		<string>afii10109</string>
		<string>uni04DF</string>
		<string>uni04ED</string>
		<string>uni04DB</string>
		<string>uniF52B</string>
	</array>
	<key>@KERN_RIGHT_afii10084</key>
	<array>
		<string>afii10092</string>
		<string>uni04AD</string>
		<string>afii10084</string>
		<string>uni04A1</string>
		<string>uni04B5</string>
		<string>uni048D</string>
	</array>
	<key>@KERN_RIGHT_afii10085</key>
	<array>
		<string>uni04AF</string>
		<string>uni04EF</string>
		<string>afii10110</string>
		<string>uni04F3</string>
		<string>afii10196</string>
		<string>uni04F1</string>
		<string>afii10085</string>
		<string>uniF4CD</string>
		<string>uni051D</string>
	</array>
	<key>@KERN_RIGHT_afii10089</key>
	<array>
		<string>afii10089</string>
		<string>uni04F5</string>
		<string>uniF4C7</string>
		<string>uni04B9</string>
		<string>uni04B7</string>
		<string>uni04CC</string>
	</array>
	<key>@KERN_RIGHT_braceright</key>
	<array>
		<string>parenright</string>
		<string>bracketright</string>
		<string>braceright</string>
	</array>
	<key>@KERN_RIGHT_c</key>
	<array>
		<string>ograve</string>
		<string>ocircumflex</string>
		<string>edieresis</string>
		<string>ccedilla</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>eogonek</string>
		<string>otilde</string>
		<string>ccaron</string>
		<string>dcaron</string>
		<string>gcircumflex</string>
		<string>ecaron</string>
		<string>gcommaaccent</string>
		<string>gbreve</string>
		<string>ecircumflex</string>
		<string>odieresis</string>
		<string>ohungarumlaut</string>
		<string>cacute</string>
		<string>omacron</string>
		<string>uniF541</string>
		<string>emacron</string>
		<string>ccircumflex</string>
		<string>dcroat</string>
		<string>eacute</string>
		<string>oslash</string>
		<string>c</string>
		<string>e</string>
		<string>g</string>
		<string>uni01F5</string>
		<string>oe</string>
		<string>o</string>
		<string>q</string>
		<string>eth</string>
		<string>oacute</string>
	</array>
	<key>@KERN_RIGHT_comma</key>
	<array>
		<string>ellipsis</string>
		<string>comma</string>
		<string>period</string>
	</array>
	<key>@KERN_RIGHT_emdash</key>
	<array>
		<string>uni2011</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>uni00AD</string>
	</array>
	<key>@KERN_RIGHT_quotedbl</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
		<string>quotedbl</string>
		<string>quotedblleft</string>
		<string>quotesingle</string>
		<string>quoteleft</string>
	</array>
	<key>@KERN_RIGHT_quotedblbase</key>
	<array>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@KERN_RIGHT_registered</key>
	<array>
		<string>registered</string>
		<string>trademark</string>
	</array>
	<key>@KERN_RIGHT_space</key>
	<array>
		<string>uni00A0</string>
		<string>space</string>
	</array>
	<key>@KERN_RIGHT_t</key>
	<array>
		<string>tcommaaccent</string>
		<string>t</string>
		<string>tcaron</string>
	</array>
	<key>@KERN_RIGHT_uni04BC</key>
	<array>
		<string>uni04BE</string>
		<string>uni04BC</string>
	</array>
	<key>@KERN_RIGHT_uni04BD</key>
	<array>
		<string>uni04BF</string>
		<string>uni04BD</string>
	</array>
	<key>@KERN_RIGHT_uni04D8</key>
	<array>
		<string>uni04DA</string>
		<string>uni04D8</string>
	</array>
	<key>@KERN_RIGHT_uniF549</key>
	<array>
		<string>y</string>
		<string>v</string>
		<string>ydieresis</string>
		<string>yacute</string>
		<string>uniF549</string>
	</array>
	<key>@KERN_RIGHT_z</key>
	<array>
		<string>zacute</string>
		<string>z</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
</dict>
</plist>
