<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@KERN_LEFT_A</key>
	<array>
		<string>A</string>
		<string>uni01CD</string>
		<string>uni1EA8</string>
		<string>Aacute</string>
		<string>Amacron</string>
		<string>Atilde</string>
		<string>uni1EAE</string>
		<string>uni1EAA</string>
		<string>uni1EAC</string>
		<string>Aring</string>
		<string>Adieresis</string>
		<string>uni1EA4</string>
		<string>uni1EB0</string>
		<string>uni1EA6</string>
		<string>uni1EB2</string>
		<string>uni1EA0</string>
		<string>uni1EB4</string>
		<string>uni1EA2</string>
		<string>uni1EB6</string>
		<string>Agrave</string>
		<string>Acircumflex</string>
		<string>Aogonek</string>
		<string>Abreve</string>
	</array>
	<key>@KERN_LEFT_A.sc</key>
	<array>
		<string>Atilde.sc</string>
		<string>uni01CD.sc</string>
		<string>uni1EA2.sc</string>
		<string>uni1EB2.sc</string>
		<string>Aring.sc</string>
		<string>Aacute.sc</string>
		<string>uni1EA0.sc</string>
		<string>uni1EA8.sc</string>
		<string>Abreve.sc</string>
		<string>uni1EB4.sc</string>
		<string>uni1EAA.sc</string>
		<string>uni1EAE.sc</string>
		<string>Agrave.sc</string>
		<string>Aogonek.sc</string>
		<string>uni1EA4.sc</string>
		<string>Acircumflex.sc</string>
		<string>uni1EA6.sc</string>
		<string>uni1EB0.sc</string>
		<string>Adieresis.sc</string>
		<string>uni1EB6.sc</string>
		<string>A.sc</string>
		<string>uni1EAC.sc</string>
		<string>Amacron.sc</string>
	</array>
	<key>@KERN_LEFT_AE</key>
	<array>
		<string>Ecaron</string>
		<string>Egrave</string>
		<string>Eogonek</string>
		<string>AE</string>
		<string>uni1EC6</string>
		<string>uni1EC4</string>
		<string>uni1EC2</string>
		<string>uni1EC0</string>
		<string>uni1EBA</string>
		<string>E</string>
		<string>uni1E16</string>
		<string>uni1EBE</string>
		<string>uni1EBC</string>
		<string>uni1EB8</string>
		<string>Ecircumflex</string>
		<string>OE</string>
		<string>Ebreve</string>
		<string>Edieresis</string>
		<string>Emacron</string>
		<string>Eacute</string>
		<string>Edotaccent</string>
	</array>
	<key>@KERN_LEFT_B</key>
	<array>
		<string>uni0243</string>
		<string>uni1E06</string>
		<string>B</string>
	</array>
	<key>@KERN_LEFT_B.sc</key>
	<array>
		<string>uni1E06.sc</string>
		<string>B.sc</string>
		<string>uni0243.sc</string>
	</array>
	<key>@KERN_LEFT_C</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
		<string>Cdotaccent</string>
		<string>Ccircumflex</string>
		<string>Cacute</string>
		<string>Ccaron</string>
	</array>
	<key>@KERN_LEFT_C.sc</key>
	<array>
		<string>Cacute.sc</string>
		<string>Cdotaccent.sc</string>
		<string>Ccircumflex.sc</string>
		<string>Ccaron.sc</string>
		<string>Ccedilla.sc</string>
		<string>C.sc</string>
	</array>
	<key>@KERN_LEFT_D</key>
	<array>
		<string>Oslash</string>
		<string>uni1E52</string>
		<string>D</string>
		<string>uni01EA</string>
		<string>Otilde</string>
		<string>O</string>
		<string>Dcaron</string>
		<string>Q</string>
		<string>uni1ED2</string>
		<string>uni1ED0</string>
		<string>uni1ED6</string>
		<string>uni1ED4</string>
		<string>Eth</string>
		<string>uni1ED8</string>
		<string>uni014E</string>
		<string>Ocircumflex</string>
		<string>Oacute</string>
		<string>uni1ECE</string>
		<string>uni1ECC</string>
		<string>Odieresis</string>
		<string>Ohungarumlaut</string>
		<string>Ograve</string>
		<string>uni1E0E</string>
		<string>uni1E0C</string>
		<string>Dcroat</string>
		<string>uni01D1</string>
		<string>Omacron</string>
		<string>uni018F</string>
	</array>
	<key>@KERN_LEFT_D.sc</key>
	<array>
		<string>uni01D1.sc</string>
		<string>O.sc</string>
		<string>Q.sc</string>
		<string>uni1ED2.sc</string>
		<string>uni014E.sc</string>
		<string>Ocircumflex.sc</string>
		<string>uni1ED4.sc</string>
		<string>uni1E0C.sc</string>
		<string>uni1E52.sc</string>
		<string>uni1ED6.sc</string>
		<string>Omacron.sc</string>
		<string>uni1E0E.sc</string>
		<string>Odieresis.sc</string>
		<string>D.sc</string>
		<string>uni1ED0.sc</string>
		<string>Dcroat.sc</string>
		<string>uni018F.sc</string>
		<string>uni1ECC.sc</string>
		<string>Dcaron.sc</string>
		<string>Otilde.sc</string>
		<string>Eth.sc</string>
		<string>uni1ED8.sc</string>
		<string>uni1ECE.sc</string>
		<string>Ograve.sc</string>
		<string>uni01EA.sc</string>
		<string>Ohungarumlaut.sc</string>
		<string>Oacute.sc</string>
		<string>Oslash.sc</string>
	</array>
	<key>@KERN_LEFT_G</key>
	<array>
		<string>Gdotaccent</string>
		<string>Gbreve</string>
		<string>G</string>
		<string>uni00470303</string>
		<string>uni0122</string>
		<string>Gcircumflex</string>
		<string>Gcaron</string>
		<string>uni1E20</string>
	</array>
	<key>@KERN_LEFT_G.sc</key>
	<array>
		<string>G.sc</string>
		<string>uni1E20.sc</string>
		<string>Gcaron.sc</string>
		<string>Gdotaccent.sc</string>
		<string>Gbreve.sc</string>
		<string>uni00470303.sc</string>
		<string>uni0122.sc</string>
		<string>Gcircumflex.sc</string>
	</array>
	<key>@KERN_LEFT_H</key>
	<array>
		<string>uni1E42</string>
		<string>Nacute</string>
		<string>uni1E46</string>
		<string>uni1E44</string>
		<string>uni1E2A</string>
		<string>Hcircumflex</string>
		<string>uni1E48</string>
		<string>M</string>
		<string>uni0145</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>H</string>
		<string>Ncaron</string>
		<string>uni1E24</string>
	</array>
	<key>@KERN_LEFT_I</key>
	<array>
		<string>Iacute</string>
		<string>uni1ECA</string>
		<string>I</string>
		<string>Idotaccent</string>
		<string>uni01CF</string>
		<string>Igrave</string>
		<string>Itilde</string>
		<string>Icircumflex</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Idieresis</string>
		<string>uni012C</string>
		<string>uni1EC8</string>
	</array>
	<key>@KERN_LEFT_I.a</key>
	<array>
		<string>Imacron.a</string>
		<string>uni1ECA.a</string>
		<string>Idotaccent.a</string>
		<string>Igrave.a</string>
		<string>Iogonek.a</string>
		<string>uni01CF.a</string>
		<string>uni1EC8.a</string>
		<string>Icircumflex.a</string>
		<string>Itilde.a</string>
		<string>Idieresis.a</string>
		<string>Iacute.a</string>
		<string>I.a</string>
	</array>
	<key>@KERN_LEFT_J</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
	</array>
	<key>@KERN_LEFT_J.sc</key>
	<array>
		<string>Jcircumflex.sc</string>
		<string>J.sc</string>
	</array>
	<key>@KERN_LEFT_K</key>
	<array>
		<string>K</string>
		<string>uni1E34</string>
		<string>uni0136</string>
	</array>
	<key>@KERN_LEFT_K.sc</key>
	<array>
		<string>uni1E34.sc</string>
		<string>uni0136.sc</string>
		<string>K.sc</string>
	</array>
	<key>@KERN_LEFT_L</key>
	<array>
		<string>uni1E36</string>
		<string>L</string>
		<string>uni1E38</string>
		<string>uni013B</string>
		<string>Lacute</string>
		<string>uni1E3A</string>
		<string>Lslash</string>
		<string>Ldot</string>
	</array>
	<key>@KERN_LEFT_L.sc</key>
	<array>
		<string>L.sc</string>
		<string>uni013B.sc</string>
		<string>uni1E38.sc</string>
		<string>uni1E36.sc</string>
		<string>Ldot.sc</string>
		<string>Lacute.sc</string>
		<string>uni1E3A.sc</string>
		<string>Lslash.sc</string>
	</array>
	<key>@KERN_LEFT_Ohorn</key>
	<array>
		<string>uni1EDC</string>
		<string>uni1EE0</string>
		<string>uni1EDA</string>
		<string>uni1EDE</string>
		<string>uni1EE2</string>
		<string>Ohorn</string>
	</array>
	<key>@KERN_LEFT_R</key>
	<array>
		<string>Racute</string>
		<string>uni1E5A</string>
		<string>R</string>
		<string>uni1E5E</string>
		<string>uni1E5C</string>
		<string>Rcaron</string>
		<string>uni0156</string>
	</array>
	<key>@KERN_LEFT_R.sc</key>
	<array>
		<string>uni0156.sc</string>
		<string>Rcaron.sc</string>
		<string>R.sc</string>
		<string>uni1E5C.sc</string>
		<string>uni1E5E.sc</string>
		<string>uni1E5A.sc</string>
		<string>Racute.sc</string>
	</array>
	<key>@KERN_LEFT_S</key>
	<array>
		<string>uni0218</string>
		<string>Scircumflex</string>
		<string>uni1E60</string>
		<string>uni1E62</string>
		<string>S</string>
		<string>uni015E</string>
		<string>Sacute</string>
		<string>Scaron</string>
	</array>
	<key>@KERN_LEFT_S.sc</key>
	<array>
		<string>uni1E60.sc</string>
		<string>germandbls.sc</string>
		<string>Sacute.sc</string>
		<string>S.sc</string>
		<string>Scaron.sc</string>
		<string>Scircumflex.sc</string>
		<string>uni1E62.sc</string>
		<string>uni0218.sc</string>
		<string>uni015E.sc</string>
	</array>
	<key>@KERN_LEFT_T</key>
	<array>
		<string>uni0162</string>
		<string>T</string>
		<string>uni1E6E</string>
		<string>uni021A</string>
		<string>uni1E6C</string>
		<string>Tcaron</string>
	</array>
	<key>@KERN_LEFT_T.sc</key>
	<array>
		<string>uni021A.sc</string>
		<string>uni1E6E.sc</string>
		<string>T.sc</string>
		<string>uni1E6C.sc</string>
		<string>Tcaron.sc</string>
		<string>uni0162.sc</string>
	</array>
	<key>@KERN_LEFT_U</key>
	<array>
		<string>uni01DB</string>
		<string>Utilde</string>
		<string>Uogonek</string>
		<string>Ucircumflex</string>
		<string>uni1EE6</string>
		<string>Ubreve</string>
		<string>U</string>
		<string>Udieresis</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uacute</string>
		<string>Uring</string>
		<string>uni01D9</string>
		<string>Ugrave</string>
		<string>uni1EE4</string>
		<string>uni01D3</string>
		<string>uni01D5</string>
		<string>uni01D7</string>
	</array>
	<key>@KERN_LEFT_U.sc</key>
	<array>
		<string>Udieresis.sc</string>
		<string>Ugrave.sc</string>
		<string>uni01D7.sc</string>
		<string>uni1EE4.sc</string>
		<string>uni01DB.sc</string>
		<string>Utilde.sc</string>
		<string>Ucircumflex.sc</string>
		<string>Uhungarumlaut.sc</string>
		<string>uni1EE6.sc</string>
		<string>Umacron.sc</string>
		<string>uni01D3.sc</string>
		<string>Uring.sc</string>
		<string>Ubreve.sc</string>
		<string>Uacute.sc</string>
		<string>Uogonek.sc</string>
		<string>U.sc</string>
		<string>uni01D9.sc</string>
		<string>uni01D5.sc</string>
	</array>
	<key>@KERN_LEFT_Uhorn</key>
	<array>
		<string>uni1EEA</string>
		<string>uni1EEC</string>
		<string>uni1EEE</string>
		<string>uni1EE8</string>
		<string>uni1EF0</string>
		<string>Uhorn</string>
	</array>
	<key>@KERN_LEFT_W</key>
	<array>
		<string>Wgrave</string>
		<string>Wcircumflex</string>
		<string>W</string>
		<string>Wdieresis</string>
		<string>Wacute</string>
	</array>
	<key>@KERN_LEFT_W.sc</key>
	<array>
		<string>Wcircumflex.sc</string>
		<string>Wdieresis.sc</string>
		<string>W.sc</string>
		<string>Wacute.sc</string>
		<string>Wgrave.sc</string>
	</array>
	<key>@KERN_LEFT_Y</key>
	<array>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>uni1E8E</string>
		<string>Yacute</string>
		<string>Y</string>
		<string>uni1EF4</string>
		<string>uni1EF6</string>
		<string>Ygrave</string>
		<string>uni1EF8</string>
	</array>
	<key>@KERN_LEFT_Y.sc</key>
	<array>
		<string>uni1EF4.sc</string>
		<string>uni1E8E.sc</string>
		<string>Yacute.sc</string>
		<string>Ygrave.sc</string>
		<string>Y.sc</string>
		<string>Ycircumflex.sc</string>
		<string>uni1EF8.sc</string>
		<string>uni1EF6.sc</string>
		<string>Ydieresis.sc</string>
	</array>
	<key>@KERN_LEFT_Z</key>
	<array>
		<string>Zacute</string>
		<string>Z</string>
		<string>Zcaron</string>
		<string>uni1E92</string>
		<string>Zdotaccent</string>
	</array>
	<key>@KERN_LEFT_Z.sc</key>
	<array>
		<string>Zcaron.sc</string>
		<string>Zdotaccent.sc</string>
		<string>uni1E92.sc</string>
		<string>Z.sc</string>
		<string>Zacute.sc</string>
	</array>
	<key>@KERN_LEFT_a</key>
	<array>
		<string>aring</string>
		<string>adieresis</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>agrave</string>
		<string>uni1EAD</string>
		<string>uni01CE</string>
		<string>uni1EAF</string>
		<string>uni1EAB</string>
		<string>abreve</string>
		<string>a</string>
		<string>uni1EA9</string>
		<string>uni1EB1</string>
		<string>uni1EA5</string>
		<string>uni1EB3</string>
		<string>uni1EA7</string>
		<string>uni1EB5</string>
		<string>uni1EA1</string>
		<string>uni1EB7</string>
		<string>uni1EA3</string>
		<string>amacron</string>
		<string>atilde</string>
		<string>aogonek</string>
	</array>
	<key>@KERN_LEFT_a.a</key>
	<array>
		<string>udieresis</string>
		<string>uni1EB1.a</string>
		<string>uni1EAF.a</string>
		<string>aacute.a</string>
		<string>uhungarumlaut</string>
		<string>uni01DA</string>
		<string>uni01DC</string>
		<string>uring</string>
		<string>uni0251</string>
		<string>ugrave</string>
		<string>uni1EB3.a</string>
		<string>uni1EB7.a</string>
		<string>uni0123.a</string>
		<string>umacron</string>
		<string>dotlessi</string>
		<string>uni00670303.a</string>
		<string>gcaron.a</string>
		<string>uni01D8</string>
		<string>adieresis.a</string>
		<string>uni1EA3.a</string>
		<string>utilde</string>
		<string>g.a</string>
		<string>uni1EAD.a</string>
		<string>agrave.a</string>
		<string>ucircumflex</string>
		<string>atilde.a</string>
		<string>amacron.a</string>
		<string>uni1EA9.a</string>
		<string>aogonek.a</string>
		<string>ubreve</string>
		<string>gdotaccent.a</string>
		<string>uni1EA5.a</string>
		<string>a.a</string>
		<string>abreve.a</string>
		<string>uni1EAB.a</string>
		<string>uacute</string>
		<string>gbreve.a</string>
		<string>uni1EE5</string>
		<string>uni1EA7.a</string>
		<string>uni1EE7</string>
		<string>uni1EA1.a</string>
		<string>uni0261</string>
		<string>uni01CE.a</string>
		<string>aring.a</string>
		<string>gcircumflex.a</string>
		<string>uni1EB5.a</string>
		<string>acircumflex.a</string>
		<string>q</string>
		<string>uni1E21.a</string>
		<string>u</string>
		<string>uogonek</string>
		<string>uni01D4</string>
		<string>uni01D6</string>
	</array>
	<key>@KERN_LEFT_ae</key>
	<array>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>ebreve</string>
		<string>edieresis</string>
		<string>uni1EC7</string>
		<string>uni1EC5</string>
		<string>emacron</string>
		<string>uni1EC3</string>
		<string>uni1EC1</string>
		<string>eacute</string>
		<string>uni1EBB</string>
		<string>uni1EBD</string>
		<string>edotaccent</string>
		<string>uni1EBF</string>
		<string>uni1EB9</string>
		<string>egrave</string>
		<string>eogonek</string>
		<string>e</string>
		<string>oe</string>
		<string>uni1E17</string>
		<string>ae</string>
	</array>
	<key>@KERN_LEFT_b</key>
	<array>
		<string>oslash</string>
		<string>uni1E53</string>
		<string>odieresis</string>
		<string>ohungarumlaut</string>
		<string>ograve</string>
		<string>uni01EB</string>
		<string>ocircumflex</string>
		<string>omacron</string>
		<string>uni1ED3</string>
		<string>uni1ED1</string>
		<string>uni1ED7</string>
		<string>uni1ED5</string>
		<string>uni1E07</string>
		<string>uni0259</string>
		<string>uni1ED9</string>
		<string>uni0180</string>
		<string>uni014F</string>
		<string>uni1ECF</string>
		<string>uni1ECD</string>
		<string>b</string>
		<string>thorn</string>
		<string>otilde</string>
		<string>o</string>
		<string>p</string>
		<string>uni01D2</string>
		<string>oacute</string>
	</array>
	<key>@KERN_LEFT_braceleft</key>
	<array>
		<string>bracketleft</string>
		<string>parenleft</string>
		<string>braceleft</string>
	</array>
	<key>@KERN_LEFT_c</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
		<string>cdotaccent</string>
		<string>ccircumflex</string>
		<string>cacute</string>
		<string>ccaron</string>
	</array>
	<key>@KERN_LEFT_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@KERN_LEFT_comma</key>
	<array>
		<string>ellipsis</string>
		<string>comma</string>
		<string>period</string>
	</array>
	<key>@KERN_LEFT_dcaron</key>
	<array>
		<string>dcaron</string>
		<string>lcaron.a</string>
		<string>lcaron</string>
	</array>
	<key>@KERN_LEFT_emdash</key>
	<array>
		<string>figuredash</string>
		<string>endash</string>
		<string>uni2015</string>
		<string>hyphen</string>
		<string>emdash</string>
		<string>uni00AD</string>
	</array>
	<key>@KERN_LEFT_f</key>
	<array>
		<string>f_f</string>
		<string>f</string>
	</array>
	<key>@KERN_LEFT_f_t</key>
	<array>
		<string>uni1E97</string>
		<string>f_t</string>
		<string>uni0163</string>
		<string>t</string>
		<string>uni1E6D</string>
		<string>uni1E6F</string>
		<string>uni021B</string>
		<string>tcaron</string>
	</array>
	<key>@KERN_LEFT_g</key>
	<array>
		<string>gdotaccent</string>
		<string>gbreve</string>
		<string>g</string>
		<string>uni00670303</string>
		<string>uni0123</string>
		<string>gcaron</string>
		<string>gcircumflex</string>
		<string>uni1E21</string>
	</array>
	<key>@KERN_LEFT_guillemotleft</key>
	<array>
		<string>guillemotleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>@KERN_LEFT_guillemotright</key>
	<array>
		<string>guillemotright</string>
		<string>guilsinglright</string>
	</array>
	<key>@KERN_LEFT_h</key>
	<array>
		<string>uni1E43</string>
		<string>uni1E47</string>
		<string>uni1E45</string>
		<string>uni1E49</string>
		<string>nacute</string>
		<string>uni1E25</string>
		<string>napostrophe</string>
		<string>hcircumflex</string>
		<string>uni1E2B</string>
		<string>m</string>
		<string>uni0146</string>
		<string>n</string>
		<string>ntilde</string>
		<string>h</string>
		<string>ncaron</string>
		<string>hbar</string>
	</array>
	<key>@KERN_LEFT_k</key>
	<array>
		<string>k</string>
		<string>kgreenlandic</string>
		<string>uni1E35</string>
		<string>uni0137</string>
	</array>
	<key>@KERN_LEFT_ohorn</key>
	<array>
		<string>uni1EDB</string>
		<string>uni1EE3</string>
		<string>uni1EDF</string>
		<string>uni1EDD</string>
		<string>uni1EE1</string>
		<string>ohorn</string>
	</array>
	<key>@KERN_LEFT_question</key>
	<array>
		<string>question</string>
		<string>uni203D</string>
	</array>
	<key>@KERN_LEFT_quotedbl</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>@KERN_LEFT_quotedblleft</key>
	<array>
		<string>uni02BB</string>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@KERN_LEFT_quotedblright</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
		<string>uni02BC</string>
	</array>
	<key>@KERN_LEFT_r</key>
	<array>
		<string>racute</string>
		<string>uni1E5B</string>
		<string>r</string>
		<string>uni1E5D</string>
		<string>uni1E5F</string>
		<string>uni0157</string>
		<string>rcaron</string>
	</array>
	<key>@KERN_LEFT_s</key>
	<array>
		<string>uni0219</string>
		<string>scircumflex</string>
		<string>uni1E61</string>
		<string>uni1E63</string>
		<string>s</string>
		<string>sacute</string>
		<string>uni015F</string>
		<string>scaron</string>
	</array>
	<key>@KERN_LEFT_uhorn</key>
	<array>
		<string>uni1EEB</string>
		<string>uni1EED</string>
		<string>uni1EEF</string>
		<string>uni1EE9</string>
		<string>uni1EF1</string>
		<string>uhorn</string>
	</array>
	<key>@KERN_LEFT_uni1E8F</key>
	<array>
		<string>ycircumflex</string>
		<string>y</string>
		<string>ydieresis</string>
		<string>uni1E8F</string>
		<string>uni1EF9</string>
		<string>yacute</string>
		<string>uni1EF5</string>
		<string>uni1EF7</string>
		<string>ygrave</string>
	</array>
	<key>@KERN_LEFT_uni1E93</key>
	<array>
		<string>zacute</string>
		<string>zdotaccent</string>
		<string>z</string>
		<string>zcaron</string>
		<string>uni1E93</string>
	</array>
	<key>@KERN_LEFT_w</key>
	<array>
		<string>wgrave</string>
		<string>wcircumflex</string>
		<string>w</string>
		<string>wdieresis</string>
		<string>wacute</string>
	</array>
	<key>@KERN_RIGHT_A</key>
	<array>
		<string>A</string>
		<string>uni01CD</string>
		<string>uni1EA8</string>
		<string>Aacute</string>
		<string>Amacron</string>
		<string>Atilde</string>
		<string>uni1EAE</string>
		<string>uni1EAA</string>
		<string>uni1EAC</string>
		<string>Aring</string>
		<string>Adieresis</string>
		<string>uni1EA4</string>
		<string>uni1EB0</string>
		<string>uni1EA6</string>
		<string>uni1EB2</string>
		<string>uni1EA0</string>
		<string>uni1EB4</string>
		<string>uni1EA2</string>
		<string>uni1EB6</string>
		<string>Agrave</string>
		<string>Acircumflex</string>
		<string>Aogonek</string>
		<string>Abreve</string>
	</array>
	<key>@KERN_RIGHT_A.sc</key>
	<array>
		<string>Atilde.sc</string>
		<string>uni01CD.sc</string>
		<string>uni1EA2.sc</string>
		<string>uni1EB2.sc</string>
		<string>Aring.sc</string>
		<string>Aacute.sc</string>
		<string>uni1EA0.sc</string>
		<string>uni1EA8.sc</string>
		<string>Abreve.sc</string>
		<string>uni1EB4.sc</string>
		<string>uni1EAA.sc</string>
		<string>uni1EAE.sc</string>
		<string>Agrave.sc</string>
		<string>Aogonek.sc</string>
		<string>uni1EA4.sc</string>
		<string>Acircumflex.sc</string>
		<string>uni1EA6.sc</string>
		<string>uni1EB0.sc</string>
		<string>Adieresis.sc</string>
		<string>uni1EB6.sc</string>
		<string>A.sc</string>
		<string>uni1EAC.sc</string>
		<string>Amacron.sc</string>
	</array>
	<key>@KERN_RIGHT_B.sc</key>
	<array>
		<string>uni1E44.sc</string>
		<string>uni1EBE.sc</string>
		<string>Edotaccent.sc</string>
		<string>uni1EC2.sc</string>
		<string>Hcircumflex.sc</string>
		<string>uni1E24.sc</string>
		<string>uni1E0C.sc</string>
		<string>H.sc</string>
		<string>Egrave.sc</string>
		<string>Eogonek.sc</string>
		<string>E.sc</string>
		<string>N.sc</string>
		<string>P.sc</string>
		<string>M.sc</string>
		<string>uni0145.sc</string>
		<string>uni1E16.sc</string>
		<string>uni0136.sc</string>
		<string>Ecircumflex.sc</string>
		<string>B.sc</string>
		<string>uni1E2A.sc</string>
		<string>uni1EB8.sc</string>
		<string>Emacron.sc</string>
		<string>uni1E38.sc</string>
		<string>uni1E48.sc</string>
		<string>uni1E36.sc</string>
		<string>F.sc</string>
		<string>Eacute.sc</string>
		<string>uni1E3A.sc</string>
		<string>uni1E42.sc</string>
		<string>K.sc</string>
		<string>Ecaron.sc</string>
		<string>L.sc</string>
		<string>Ldot.sc</string>
		<string>Thorn.sc</string>
		<string>uni1E5C.sc</string>
		<string>uni1E46.sc</string>
		<string>uni1EC0.sc</string>
		<string>Rcaron.sc</string>
		<string>Lacute.sc</string>
		<string>Ncaron.sc</string>
		<string>R.sc</string>
		<string>uni1EBA.sc</string>
		<string>D.sc</string>
		<string>uni1E34.sc</string>
		<string>Dcaron.sc</string>
		<string>Edieresis.sc</string>
		<string>uni0156.sc</string>
		<string>uni1EBC.sc</string>
		<string>uni1E06.sc</string>
		<string>Ntilde.sc</string>
		<string>uni013B.sc</string>
		<string>uni1EC4.sc</string>
		<string>Nacute.sc</string>
		<string>uni1E5A.sc</string>
		<string>uni1E0E.sc</string>
		<string>Ebreve.sc</string>
		<string>Lcaron.sc</string>
		<string>uni1E5E.sc</string>
		<string>uni1EC6.sc</string>
		<string>Racute.sc</string>
	</array>
	<key>@KERN_RIGHT_C</key>
	<array>
		<string>uni1E52</string>
		<string>Otilde</string>
		<string>Ccaron</string>
		<string>uni1ED2</string>
		<string>Gcircumflex</string>
		<string>uni1ED0</string>
		<string>uni1ED6</string>
		<string>uni1ED4</string>
		<string>uni1ED8</string>
		<string>Ohorn</string>
		<string>Gdotaccent</string>
		<string>Gbreve</string>
		<string>uni1ECE</string>
		<string>uni1ECC</string>
		<string>Odieresis</string>
		<string>Ohungarumlaut</string>
		<string>uni00470303</string>
		<string>Cacute</string>
		<string>uni0122</string>
		<string>Gcaron</string>
		<string>Ccircumflex</string>
		<string>Oslash</string>
		<string>Omacron</string>
		<string>G</string>
		<string>uni01EA</string>
		<string>O</string>
		<string>Q</string>
		<string>uni1EE2</string>
		<string>uni1E20</string>
		<string>uni014E</string>
		<string>Oacute</string>
		<string>uni1EDC</string>
		<string>uni1EE0</string>
		<string>uni1EDA</string>
		<string>Cdotaccent</string>
		<string>uni1EDE</string>
		<string>C</string>
		<string>Ocircumflex</string>
		<string>Ograve</string>
		<string>uni01D1</string>
		<string>Ccedilla</string>
		<string>OE</string>
	</array>
	<key>@KERN_RIGHT_C.sc</key>
	<array>
		<string>uni01D1.sc</string>
		<string>Gcaron.sc</string>
		<string>uni1ED2.sc</string>
		<string>uni1EDC.sc</string>
		<string>uni014E.sc</string>
		<string>uni01EA.sc</string>
		<string>uni0122.sc</string>
		<string>uni1EDE.sc</string>
		<string>Ccaron.sc</string>
		<string>uni1ED6.sc</string>
		<string>Omacron.sc</string>
		<string>Odieresis.sc</string>
		<string>Gdotaccent.sc</string>
		<string>uni1ECC.sc</string>
		<string>Ccedilla.sc</string>
		<string>Cdotaccent.sc</string>
		<string>OE.sc</string>
		<string>uni1ECE.sc</string>
		<string>Ograve.sc</string>
		<string>uni1EDA.sc</string>
		<string>Ohungarumlaut.sc</string>
		<string>Oacute.sc</string>
		<string>uni1EE0.sc</string>
		<string>Ccircumflex.sc</string>
		<string>O.sc</string>
		<string>Q.sc</string>
		<string>Gbreve.sc</string>
		<string>uni00470303.sc</string>
		<string>uni1ED4.sc</string>
		<string>C.sc</string>
		<string>uni1E52.sc</string>
		<string>G.sc</string>
		<string>uni1E20.sc</string>
		<string>uni1ED0.sc</string>
		<string>Ocircumflex.sc</string>
		<string>Ohorn.sc</string>
		<string>uni1EE2.sc</string>
		<string>Otilde.sc</string>
		<string>Cacute.sc</string>
		<string>Gcircumflex.sc</string>
		<string>Oslash.sc</string>
		<string>uni1ED8.sc</string>
	</array>
	<key>@KERN_RIGHT_Dcroat</key>
	<array>
		<string>uni0243</string>
		<string>Eth</string>
		<string>Dcroat</string>
	</array>
	<key>@KERN_RIGHT_I.a</key>
	<array>
		<string>Imacron.a</string>
		<string>uni1ECA.a</string>
		<string>Idotaccent.a</string>
		<string>Igrave.a</string>
		<string>Iogonek.a</string>
		<string>uni01CF.a</string>
		<string>uni1EC8.a</string>
		<string>Icircumflex.a</string>
		<string>Itilde.a</string>
		<string>Idieresis.a</string>
		<string>Iacute.a</string>
		<string>I.a</string>
	</array>
	<key>@KERN_RIGHT_J</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
	</array>
	<key>@KERN_RIGHT_J.sc</key>
	<array>
		<string>Jcircumflex.sc</string>
		<string>J.sc</string>
	</array>
	<key>@KERN_RIGHT_S</key>
	<array>
		<string>uni0218</string>
		<string>Scircumflex</string>
		<string>uni1E60</string>
		<string>uni1E62</string>
		<string>S</string>
		<string>uni015E</string>
		<string>Sacute</string>
		<string>Scaron</string>
	</array>
	<key>@KERN_RIGHT_S.sc</key>
	<array>
		<string>uni1E60.sc</string>
		<string>germandbls.sc</string>
		<string>Sacute.sc</string>
		<string>S.sc</string>
		<string>Scaron.sc</string>
		<string>Scircumflex.sc</string>
		<string>uni1E62.sc</string>
		<string>uni0218.sc</string>
		<string>uni015E.sc</string>
	</array>
	<key>@KERN_RIGHT_T</key>
	<array>
		<string>uni0162</string>
		<string>T</string>
		<string>uni1E6E</string>
		<string>uni021A</string>
		<string>uni1E6C</string>
		<string>Tcaron</string>
	</array>
	<key>@KERN_RIGHT_T.sc</key>
	<array>
		<string>uni021A.sc</string>
		<string>uni1E6E.sc</string>
		<string>T.sc</string>
		<string>uni1E6C.sc</string>
		<string>Tcaron.sc</string>
		<string>uni0162.sc</string>
	</array>
	<key>@KERN_RIGHT_U</key>
	<array>
		<string>Uhungarumlaut</string>
		<string>uni01DB</string>
		<string>Utilde</string>
		<string>Uhorn</string>
		<string>Uogonek</string>
		<string>Ucircumflex</string>
		<string>uni1EE6</string>
		<string>uni1EE8</string>
		<string>Ubreve</string>
		<string>U</string>
		<string>uni1EF0</string>
		<string>Udieresis</string>
		<string>uni1EEA</string>
		<string>uni1EEC</string>
		<string>Umacron</string>
		<string>uni1EEE</string>
		<string>Uacute</string>
		<string>Uring</string>
		<string>uni01D9</string>
		<string>Ugrave</string>
		<string>uni1EE4</string>
		<string>uni01D3</string>
		<string>uni01D5</string>
		<string>uni01D7</string>
	</array>
	<key>@KERN_RIGHT_U.sc</key>
	<array>
		<string>Uhorn.sc</string>
		<string>Udieresis.sc</string>
		<string>Ugrave.sc</string>
		<string>uni01D7.sc</string>
		<string>uni1EE4.sc</string>
		<string>uni1EF0.sc</string>
		<string>uni01DB.sc</string>
		<string>Utilde.sc</string>
		<string>Ucircumflex.sc</string>
		<string>Uhungarumlaut.sc</string>
		<string>uni1EE8.sc</string>
		<string>Umacron.sc</string>
		<string>uni1EEA.sc</string>
		<string>uni01D3.sc</string>
		<string>uni1EE6.sc</string>
		<string>Ubreve.sc</string>
		<string>Uacute.sc</string>
		<string>Uogonek.sc</string>
		<string>Uring.sc</string>
		<string>uni1EEE.sc</string>
		<string>U.sc</string>
		<string>uni01D9.sc</string>
		<string>uni01D5.sc</string>
		<string>uni1EEC.sc</string>
	</array>
	<key>@KERN_RIGHT_W</key>
	<array>
		<string>Wgrave</string>
		<string>Wcircumflex</string>
		<string>W</string>
		<string>Wdieresis</string>
		<string>Wacute</string>
	</array>
	<key>@KERN_RIGHT_W.sc</key>
	<array>
		<string>Wcircumflex.sc</string>
		<string>Wdieresis.sc</string>
		<string>W.sc</string>
		<string>Wacute.sc</string>
		<string>Wgrave.sc</string>
	</array>
	<key>@KERN_RIGHT_Y</key>
	<array>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>uni1E8E</string>
		<string>Yacute</string>
		<string>Y</string>
		<string>uni1EF4</string>
		<string>uni1EF6</string>
		<string>Ygrave</string>
		<string>uni1EF8</string>
	</array>
	<key>@KERN_RIGHT_Y.sc</key>
	<array>
		<string>uni1EF4.sc</string>
		<string>uni1E8E.sc</string>
		<string>Yacute.sc</string>
		<string>Ygrave.sc</string>
		<string>Y.sc</string>
		<string>Ycircumflex.sc</string>
		<string>uni1EF8.sc</string>
		<string>uni1EF6.sc</string>
		<string>Ydieresis.sc</string>
	</array>
	<key>@KERN_RIGHT_Z</key>
	<array>
		<string>Zacute</string>
		<string>Z</string>
		<string>Zcaron</string>
		<string>uni1E92</string>
		<string>Zdotaccent</string>
	</array>
	<key>@KERN_RIGHT_Z.sc</key>
	<array>
		<string>Zcaron.sc</string>
		<string>Zdotaccent.sc</string>
		<string>uni1E92.sc</string>
		<string>Z.sc</string>
		<string>Zacute.sc</string>
	</array>
	<key>@KERN_RIGHT__empty_lu.6_st.1_cl.0</key>
	<array>
	</array>
	<key>@KERN_RIGHT_a</key>
	<array>
		<string>aring</string>
		<string>ae</string>
		<string>uni01CE</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>agrave</string>
		<string>uni1EAD</string>
		<string>adieresis</string>
		<string>uni1EAF</string>
		<string>uni1EAB</string>
		<string>abreve</string>
		<string>a</string>
		<string>uni1EA9</string>
		<string>uni1EB1</string>
		<string>uni1EA5</string>
		<string>uni1EB3</string>
		<string>uni1EA7</string>
		<string>uni1EB5</string>
		<string>uni1EA1</string>
		<string>uni1EB7</string>
		<string>uni1EA3</string>
		<string>amacron</string>
		<string>atilde</string>
		<string>aogonek</string>
	</array>
	<key>@KERN_RIGHT_a.a</key>
	<array>
		<string>uni1E53</string>
		<string>uni1EA7.a</string>
		<string>ograve</string>
		<string>ocircumflex</string>
		<string>uni1EC1</string>
		<string>edieresis</string>
		<string>gbreve.a</string>
		<string>cdotaccent</string>
		<string>ccedilla</string>
		<string>uni00670303.a</string>
		<string>uni1ECF</string>
		<string>uni1ECD</string>
		<string>adieresis.a</string>
		<string>uni1EA3.a</string>
		<string>otilde</string>
		<string>ccaron</string>
		<string>dcaron</string>
		<string>agrave.a</string>
		<string>ohungarumlaut</string>
		<string>aogonek.a</string>
		<string>ohorn</string>
		<string>uni1EB5.a</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>cacute</string>
		<string>uni1EC7</string>
		<string>uni1EC5</string>
		<string>uni1EC3</string>
		<string>ccircumflex</string>
		<string>dcroat</string>
		<string>uni1EA1.a</string>
		<string>uni1EBB</string>
		<string>uni1EBD</string>
		<string>uni014F</string>
		<string>uni1EBF</string>
		<string>oslash</string>
		<string>omacron</string>
		<string>d</string>
		<string>acircumflex.a</string>
		<string>uni1EA9.a</string>
		<string>uni1EB1.a</string>
		<string>uni1EAF.a</string>
		<string>aacute.a</string>
		<string>amacron.a</string>
		<string>uni1ED3</string>
		<string>uni0251</string>
		<string>uni1ED1</string>
		<string>uni1EB3.a</string>
		<string>uni1ED7</string>
		<string>uni1ED5</string>
		<string>uni1EB7.a</string>
		<string>uni0123.a</string>
		<string>uni1EA5.a</string>
		<string>uni1ED9</string>
		<string>edotaccent</string>
		<string>gcaron.a</string>
		<string>egrave</string>
		<string>eogonek</string>
		<string>abreve.a</string>
		<string>uni1E0F</string>
		<string>uni1E0D</string>
		<string>uni1EAD.a</string>
		<string>g.a</string>
		<string>gdotaccent.a</string>
		<string>uni1EB9</string>
		<string>a.a</string>
		<string>odieresis</string>
		<string>uni1EAB.a</string>
		<string>uni01EB</string>
		<string>ebreve</string>
		<string>uni1EE1</string>
		<string>uni1EE3</string>
		<string>emacron</string>
		<string>aring.a</string>
		<string>eacute</string>
		<string>uni0261</string>
		<string>uni01CE.a</string>
		<string>atilde.a</string>
		<string>uni1EDB</string>
		<string>c</string>
		<string>gcircumflex.a</string>
		<string>e</string>
		<string>uni1EDF</string>
		<string>uni1EDD</string>
		<string>oe</string>
		<string>o</string>
		<string>q</string>
		<string>uni1E21.a</string>
		<string>uni1E17</string>
		<string>uni01D2</string>
		<string>oacute</string>
	</array>
	<key>@KERN_RIGHT_braceright</key>
	<array>
		<string>parenright</string>
		<string>bracketright</string>
		<string>braceright</string>
	</array>
	<key>@KERN_RIGHT_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@KERN_RIGHT_comma</key>
	<array>
		<string>ellipsis</string>
		<string>comma</string>
		<string>period</string>
	</array>
	<key>@KERN_RIGHT_dotlessi</key>
	<array>
		<string>uni1E43</string>
		<string>nacute</string>
		<string>uni1E45</string>
		<string>m</string>
		<string>uni1E49</string>
		<string>rcaron</string>
		<string>uni1E47</string>
		<string>dotlessi</string>
		<string>racute</string>
		<string>kgreenlandic</string>
		<string>uni0157</string>
		<string>uni1E5B</string>
		<string>uni0146</string>
		<string>n</string>
		<string>p</string>
		<string>ntilde</string>
		<string>r</string>
		<string>uni1E5D</string>
		<string>uni1E5F</string>
		<string>ncaron</string>
	</array>
	<key>@KERN_RIGHT_emdash</key>
	<array>
		<string>figuredash</string>
		<string>endash</string>
		<string>uni2015</string>
		<string>hyphen</string>
		<string>emdash</string>
		<string>uni00AD</string>
	</array>
	<key>@KERN_RIGHT_f</key>
	<array>
		<string>f_t</string>
		<string>f_f</string>
		<string>f</string>
		<string>fi</string>
		<string>fl.a</string>
		<string>fl</string>
	</array>
	<key>@KERN_RIGHT_g</key>
	<array>
		<string>gdotaccent</string>
		<string>gbreve</string>
		<string>g</string>
		<string>uni00670303</string>
		<string>uni0123</string>
		<string>gcaron</string>
		<string>gcircumflex</string>
		<string>uni1E21</string>
	</array>
	<key>@KERN_RIGHT_guillemotleft</key>
	<array>
		<string>guillemotleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>@KERN_RIGHT_guillemotright</key>
	<array>
		<string>guillemotright</string>
		<string>guilsinglright</string>
	</array>
	<key>@KERN_RIGHT_i</key>
	<array>
		<string>uni1ECB</string>
		<string>iacute</string>
		<string>iogonek.d</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>igrave</string>
		<string>itilde</string>
		<string>icircumflex</string>
		<string>i</string>
		<string>i.trk</string>
		<string>uni01D0</string>
		<string>uni012D</string>
		<string>idieresis</string>
		<string>uni1EC9</string>
	</array>
	<key>@KERN_RIGHT_j</key>
	<array>
		<string>uni0237</string>
		<string>j</string>
		<string>jcircumflex</string>
	</array>
	<key>@KERN_RIGHT_question</key>
	<array>
		<string>question</string>
		<string>uni203D</string>
	</array>
	<key>@KERN_RIGHT_quotedbl</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>@KERN_RIGHT_quotedblleft</key>
	<array>
		<string>uni02BB</string>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@KERN_RIGHT_quotedblright</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
		<string>uni02BC</string>
	</array>
	<key>@KERN_RIGHT_s</key>
	<array>
		<string>uni0219</string>
		<string>scircumflex</string>
		<string>uni1E61</string>
		<string>uni1E63</string>
		<string>s</string>
		<string>sacute</string>
		<string>uni015F</string>
		<string>scaron</string>
	</array>
	<key>@KERN_RIGHT_t</key>
	<array>
		<string>uni0163</string>
		<string>uni1E97</string>
		<string>t</string>
		<string>uni1E6D</string>
		<string>uni1E6F</string>
		<string>uni021B</string>
		<string>tcaron</string>
	</array>
	<key>@KERN_RIGHT_u</key>
	<array>
		<string>udieresis</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uni01DA</string>
		<string>uni01DC</string>
		<string>uring</string>
		<string>ugrave</string>
		<string>uni1EE5</string>
		<string>uni1EE7</string>
		<string>uni1EE9</string>
		<string>uni1EF1</string>
		<string>uni1EEB</string>
		<string>uni1EED</string>
		<string>uni1EEF</string>
		<string>utilde</string>
		<string>uhorn</string>
		<string>uni01D8</string>
		<string>uogonek</string>
		<string>ucircumflex</string>
		<string>uacute</string>
		<string>u</string>
		<string>ubreve</string>
		<string>uni01D4</string>
		<string>uni01D6</string>
	</array>
	<key>@KERN_RIGHT_uni1E8F</key>
	<array>
		<string>ycircumflex</string>
		<string>y</string>
		<string>ydieresis</string>
		<string>uni1E8F</string>
		<string>uni1EF9</string>
		<string>yacute</string>
		<string>uni1EF5</string>
		<string>uni1EF7</string>
		<string>ygrave</string>
	</array>
	<key>@KERN_RIGHT_uni1E93</key>
	<array>
		<string>zacute</string>
		<string>zdotaccent</string>
		<string>z</string>
		<string>zcaron</string>
		<string>uni1E93</string>
	</array>
	<key>@KERN_RIGHT_w</key>
	<array>
		<string>wgrave</string>
		<string>wcircumflex</string>
		<string>w</string>
		<string>wdieresis</string>
		<string>wacute</string>
	</array>
</dict>
</plist>
