<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>familyName</key>
	<string>Mertz</string>
	<key>styleName</key>
	<string>Heavy</string>
	<key>copyright</key>
	<string>2013 (c) vernon adams</string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>xHeight</key>
	<integer>875</integer>
	<key>capHeight</key>
	<integer>1240</integer>
	<key>ascender</key>
	<integer>1536</integer>
	<key>descender</key>
	<integer>-512</integer>
	<key>italicAngle</key>
	<real>0</real>
	<key>note</key>
	<string></string>
	<key>openTypeHeadCreated</key>
	<string>2013/07/24 23:44:29</string>
	<key>openTypeHheaAscender</key>
	<integer>1536</integer>
	<key>openTypeHheaDescender</key>
	<integer>-512</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameVersion</key>
	<string>Version 1 </string>
	<key>openTypeNameUniqueID</key>
	<string>newt : Mertz-Heavy : 19-5-2012</string>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>2</integer>
		<integer>0</integer>
		<integer>9</integer>
		<integer>3</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>800</integer>
	<key>openTypeOS2VendorID</key>
	<string>newt</string>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>1536</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-512</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1536</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>512</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<integer>700</integer>
	<key>openTypeOS2SubscriptYSize</key>
	<integer>650</integer>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptYOffset</key>
	<integer>140</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<integer>700</integer>
	<key>openTypeOS2SuperscriptYSize</key>
	<integer>650</integer>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptYOffset</key>
	<integer>477</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>50</integer>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>250</integer>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>5</integer>
	</array>
	<key>openTypeOS2CodePageRanges</key>
	<array>
		<integer>0</integer>
	</array>
	<key>postscriptFontName</key>
	<string>Mertz-Heavy</string>
	<key>postscriptFullName</key>
	<string>Mertz Heavy</string>
	<key>postscriptWeightName</key>
	<string>Medium</string>
	<key>postscriptUnderlineThickness</key>
	<integer>0</integer>
	<key>postscriptUnderlinePosition</key>
	<integer>0</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-33</integer>
		<integer>0</integer>
		<integer>875</integer>
		<integer>900</integer>
		<integer>1240</integer>
		<integer>1276</integer>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-402</integer>
		<integer>-364</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>168</integer>
		<integer>177</integer>
		<integer>192</integer>
		<integer>205</integer>
		<integer>210</integer>
		<integer>215</integer>
		<integer>226</integer>
		<integer>235</integer>
		<integer>244</integer>
		<integer>248</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>268</integer>
		<integer>276</integer>
		<integer>280</integer>
		<integer>292</integer>
		<integer>302</integer>
		<integer>308</integer>
	</array>
	<key>postscriptForceBold</key>
	<true/>
    </dict>
</plist>
